$yellow: #FFE401;
$dark-gray: #272727;
$gray: #eee;
$blue: #0f89df;
$light-blue: #5898c6;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #fb002e;
$orange: #fd7e14;
$yellow-darker: #f0cc00;
$green: #0cd13a;
$light-green: #4fd16e;
$teal: #20c997;
$cyan: #0dcaf0;
$white: #fff;
$midnight: #10040D;

@import "../css/bootstrap/scss/bootstrap.scss";

.text-pink{
    color: $pink;
}
.text-yellow-darker{
    color: $yellow-darker;
}
.text-orange{
    color: $orange;
}
.text-red{
    color: $red;
}
.text-light-green{
    color: $light-green;
}
.bg-light-green{
    background-color: $light-green;
}
.text-light-blue{
    color: $light-blue;
}
.bg-light-blue{
    background-color: $light-blue;
}
.text-small{
    font-size: 0.8rem !important;
}
.bg-dark-gray{
    background-color: $dark-gray;
}
.bg-midnight{
    background-color: $midnight;
}
.img-mention{
    height: 3rem;
    width: auto;
    padding: auto;
    margin: auto;
    
}

.glass{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
}
